body {
  background-color: #DDF;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

hr {
  margin: 1em;
}

.board {
  width: 350px;
  margin: auto;
}

.btn {
  background-color: #BBB;
  border: 1px solid #000;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: -3px;
}

.btn:hover {
  background-color: #AAA;
}

.btn:focus {
  outline: 0;
}

.turn-indicator {
  color: white;
  text-shadow: 1px 1px 1px #000,
               -1px -1px 1px #000,
               -1px 1px 1px #000,
                1px -1px 1px #000;
}

.hidden {
  display: none;
}
